#/////////////////////////////////////////////////////////////////////////////
# Fireball Projects
#/////////////////////////////////////////////////////////////////////////////

library/
library/imports/
temp/
local/
node_modules/
packages/
build/jsb-link/frameworks/runtime-src/proj.win32/Debug.win32/
build/jsb-link/frameworks/runtime-src/proj.win32/Debug/
build/jsb-link/frameworks/runtime-src/proj.win32/Release.win32/
build/jsb-link/frameworks/runtime-src/proj.win32/.vs/
build/jsb-link/frameworks/runtime-src/proj.win32/sdk/
build/web-mobile/
build/jsb-link/frameworks/runtime-src/proj.android-studio/app/.externalNativeBuild/
build/jsb-link/frameworks/runtime-src/proj.android-studio/app/build/
build/jsb-link/frameworks/runtime-src/proj.android-studio/app/assets/
build/jsb-link/frameworks/runtime-src/proj.android-studio/app/res/
build/jsb-link/frameworks/runtime-src/proj.android/
build/jsb-link/frameworks/runtime-src/proj.ios_mac/ios/libs/
build/jsb-link/frameworks/runtime-src/proj.ios_mac/mac/
build/jsb-link/frameworks/runtime-src/proj.ios_mac/__MACOSX/
build/jsb-link/frameworks/runtime-src/proj.ios_mac/ios/Images.xcassets/
build/jsb-link/my_js_bindings/

#/////////////////////////////////////////////////////////////////////////////
# Logs and databases
#/////////////////////////////////////////////////////////////////////////////

*.log
*.sql
*.sqlite

#/////////////////////////////////////////////////////////////////////////////
# files for debugger
#/////////////////////////////////////////////////////////////////////////////

*.vcxproj
*.obj
*.apk
*.ipa
*.exe
*.msi
*.zip
*.rar
*.7z
*.so

#/////////////////////////////////////////////////////////////////////////////
# OS generated files
#/////////////////////////////////////////////////////////////////////////////

.DS_Store
ehthumbs.db
Thumbs.db

#/////////////////////////////////////////////////////////////////////////////
# exvim files
#/////////////////////////////////////////////////////////////////////////////

*UnityVS.meta
*.err
*.err.meta
*.exvim
*.exvim.meta
*.vimentry
*.vimentry.meta
*.vimproject
*.vimproject.meta
.vimfiles.*/
.exvim.*/
quick_gen_project_*_autogen.bat
quick_gen_project_*_autogen.bat.meta
quick_gen_project_*_autogen.sh
quick_gen_project_*_autogen.sh.meta
.exvim.app

#/////////////////////////////////////////////////////////////////////////////
# webstorm files
#/////////////////////////////////////////////////////////////////////////////

.idea/

#//////////////////////////
# VS Code
#//////////////////////////

.vscode/
